@media screen and (max-width:400px) {
    .titulo{ font-size: 40px; } 
    .redes{ height: 40px;}
    #footer h5{ font-size: 7px;}
}

/*GENERAL*/
* ul{
  padding: 0px;
}
* a{
    text-decoration: none;
}
/*MENU PARA TODAS LAS PAGINAS*/
header{
    width: 100%;
    background: #fff;
    opacity: 0.9;
    position: fixed; 
    z-index: 999;
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
    font-weight: bold;
}
.navbar-default{
    background: #fff;
    border: none;
    margin-bottom: 10px;
}
#bs-example-navbar-collapse-1{
    background: #fff;
    padding-top: 10px;
}
#bs-example-navbar-collapse-1 a{
    color:grey;
    font-weight: bold;
    transition:all 0.3s;
}
#bs-example-navbar-collapse-1 a:hover, #bs-example-navbar-collapse-1 .active{
    background: #A9268D;
    color: #fff;
    text-transform: uppercase;
}
.navbar-toggle.collapsed{
    margin: 12px 0px;
}
.navbar-right li{
    font-weight: bold;
    display: inline-block;
}
.navbar-right i{
    color: grey;
    font-size: 30px;
}
.sigueme{
    padding-top: 20px;
}
/*MI BANNER*/
#mibanner{
	background: url("../images/mibanner.jpg") center center;
	background-size: cover;
    padding: 120px 0px;
    border: 1px solid #DF01A5;
}
#mibanner img{
    width: 20%;
	color:#DF01A5;
    border-radius: 100%;
    opacity: 0.6;
    border: 1px solid grey;
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
    padding: 3px;
    margin: 20px 0px 20px 0px;
}
#mibanner img:hover{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
	-moz-transform: scale(1.2) rotate(-720deg) ;
	-webkit-transform: scale(1.2) rotate(-720deg) ;
	-o-transform: scale(1.2) rotate(-720deg) ;
	-ms-transform: scale(1.2) rotate(-720deg) ;
	transform: scale(1.2) rotate(-720deg);
}
#mibanner h1{
    color: #A9268D;
    font-weight: bold;
    font-family: 'Arizonia';
}
#mibanner h5{
    font-family: "Kotta";
    background: #f3cdff;
    padding: 7px 0px 7px 0px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
    font-weight: bold;
    color: grey;
}

/*SOBRE MI*/ 
#sobremi{
    background: url("../images/misti2.jpg") center;
    background-size: cover;
    padding: 10px 0px 20px 0px;
    color: grey;
}
#sobremi h1{
    font-family: 'Kotta One', serif;
    color: #A9268D;
}
#sobremi hr{
    width: 40px;
    display: inline-block;
    margin: 0px 5px 0px 5px;
    border: 1px solid grey;
}
#sobremi h3{
    padding: 0px;
    margin: 0px;
}
#sobremi p{
    line-height: 2.1;
}
/*MI PORTAFOLIO*/
#portafolio{
    padding: 50px 0px 50px 0px;
}
#portafolio h1{
    color: #A9268D;
    font-family: 'Kotta One', serif;
}
#portafolio .btn{
    border: 1px solid grey;
    color: grey;
}
#portafolio a:hover{
    background: #fff;
    color: #A9268D;
}
#portafolio #boton .active{
    background: grey;
    color: #fff;
}
#portafolio h5{
    text-align: center;
}

/*PAGINA SOBRE-ME*/
*{
    outline: 1px solid red;
}
#sobre-mi{
    overflow: hidden;
    padding-bottom: 30px;
}
#sobre-mi video{
    opacity: 0.6;
}
#filtro{
	background: rgba(0,0,0,.7); width: 100%;  padding: 0px; margin: 0px; 
}
.mis-titulos{
    text-align: center; 
}

/*CONTACTO*/
#contacto{
	background: url("../images/tile1.png");
	text-align: center;
    padding-bottom: 30px;
}
#contacto i{
    font-size: 100px;
}
#contacto h1{
    color: #A9268D;
    font-family: 'Kotta One', serif;
}
#contacto li{
	display: inline-block;
	list-style: none;
}
#contacto img{
	margin: 20px;
    height: 100px;
}
#contacto a:hover{
	transform:scale(1.1);
	transition:all 0.6s;
	display: block;
}
/*FOOTER*/
#footer{
    background: #747474;
    color: #b8bfc4;
}
#footer h5{
    padding-top: 10px;
}
#footer li{
    display: inline-block;
    padding-right: 5px;
}
#footer a{
    color: #b8bfc4;
    text-decoration: none;
}